@{
    ViewData["Title"] = "Hello wORLD :D";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my personal Website :D</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
